body, html {
  margin: 0;
  padding: 0;
}

canvas, #sizeHolder {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

canvas {
  z-index: 2;  
}

#sizeHolder {
  overflow: auto;
  z-index: 5;
}

#sizeHolder div {
  pointer-events: none;
}

img {
  position: absolute;
  width: 300px;
  height: auto;
  bottom: 0;
  right: 0;
  z-index: 6;
  border: 2px solid black;
  background: white;
}

.overlay {
  position: fixed;
  z-index: 8;
  background: white;
}